/*#content-container {
    margin-top: 70px;
}*/

.navbar-fixed-top+div {
    margin-top: 70px;
}

.seat-origin-place {
    width:50px;
    height: 50px;
    background: #9E9E9E;
    position: absolute;
    border: 1px solid white;
}

#cinema-hall-places {
    position:relative;
}

.place-selected {
    background-color: green;
}
.already-place-selected{
    background-color: orange;
}


.seat-origin-place span {
    display: block;
    padding-left: 10px;
}

@media screen and (max-width: 700px) {
    /*.seat-origin-place{
        background-color: #E4DBDB;
    }*/
}