<div id="hall-create-form">
    <!-- drag container -->
        <div id="drag">
            <!-- table1 -->
            <table id="table1">
                <colgroup>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="100"/>
                </colgroup>
                <tbody>
                    <!-- clone 2 elements + last element -->
                    <tr>
                        <td class="trash">Trash</td>
                        <td><div id="a" data-row="A" class="drag orange clone">A</div></td>
                        <td><div id="b" data-row="B" class="drag blue clone">B</div></td>
                        <td><div id="c" data-row="C" class="drag blue clone">C</div></td>
                        <td><div id="d" data-row="D" class="drag blue clone">D</div></td>

                    </tr>
                </tbody>
            </table>
            <!-- table2 -->
            <table id="table2">
                <colgroup>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="100"/>
                </colgroup>
                <tbody>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td id="lastCell"></td></tr>
                </tbody>
            </table>
        </div>
        <!-- jQuery dialog -->
        <div id="dialog" title="jQuery dialog">Please choose action!</div>
        <!-- instructions -->
        <div class="instructions">
            Example shows how to choose drop mode after DIV element is dropped to the table.
            In combination with jQuery to display modal popup, user will have three options: shift, switch and overwrite.
            Popup will be displayed in case when target cell is not empty otherwise it will be normal drag and drop.
            Switch mode is enabled only when DIV is dragged from bottom table.
            If DIV element is cloned from upper table, clicking on switch button will be ignored.
        </div>
</div>