<div id="hall-show-form">
    <h1>show form</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 ol-xs-offset-1  col-xs-6 col-sm-6" id="cinema-hall-places">
                <% _.each(places.models, function(list){ %>
                <div class="seat-origin-place <%=(list.attributes.status == 1)? 'already-place-selected' : ''%>" style="
                    left:<%=list.attributes.posX*factor.fx+'px'%>;
                    top:<%=list.attributes.posY*factor.fy+'px'%>;
                    width:<%=list.attributes.width*factor.fw+'px'%>"
                    data-row="<%=list.attributes.row%>"
                    data-seat="<%=list.attributes.seat%>"
                    data-status="<%=list.attributes.status%>"
                    data-placeid="<%=list.attributes.id %>"
                    >
                    <span>r: <%=list.attributes.row %></span>
                    <span>s: <%=list.attributes.seat %></span>

                </div><% })%>
        </div>
    </div>
</div>